/* Text color */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #17202A;
  background-image: url("../ACES1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.container {
  width: 100%;
}

div.about {
  margin: 5%;
  background-color: #fff;
}

.topnav {
  overflow: hidden;
  background-color: #f71735;
  width: 100vw;
  height: 7vh;
  position: fixed;
  z-index: 1;
  text-align:center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.topnav > a > img {
  display: none;
}

@media (max-width: 500px) {
  .topnav a { 
    display: none;
  }
  .topnav.responsive {
    position: relative;
  }
  .responsive.a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive > a {
    float: none;
    display: block;
    text-align: left;
  }
}

.topnav a {
  float: left;
  color: #f8f8f8;
  text-align: center;
  padding: 2vh 2vh 0.2vw 0.2vw;
  text-decoration: none;
  font-size: 2.5vh;
}

.topnav img {
  height: 7vh;
  width: auto;
  position: absolute;
  top: 0;
  right: 2vw;
}

.topnav a:hover {
  background-color: #facccc;
  color: black;
  height: 7vh;
}

.column {
  float: left;
  width: 48%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.block {
  margin: 0;
}

.block > h2 {
  font-weight: bold;
  font-size: large;
  float:center; 
}

.block > div {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0vh;
  font-size: medium;
  float:left; 
  background: rgba(213,243,254,0.5); 
  vertical-align: middle;
}

.block > div:hover {
  background:rgba(213,243,254); 
  border-style: solid;
  border-color: black;
  vertical-align: middle;
  opacity: 1;
}

.block > div > p {
  color:#17202A;
  padding-left: 2vw;
  padding-right: 2vw;
  line-height: 3vh;
}

.block > div > div {
  font-weight: bold;
  color:#17202A;
  padding-left: 10px;
  padding-right: 10px;
}

.block > div > ul {
  padding-left: 3vw;
  padding-right: 2vw;
}

.block > div > ol {
  padding-left: 3vw;
  padding-right: 2vw;
}

.block > div > ol > li {
  padding-left: 0.5vw;
}