{% extends "layout.html" %}
{% block content %}
   <div class="three">
     <h1>Mission</h1>
     <p>In response to the insurgence of the CoVID-19 pandemic, research groups around the world invested time and effort to obtain information about the SARS-2 virus and its pathology.
        Of crucial importance is sharing of data between scientist, hence this website.
     </p>
   </div>

   <div class="three">
    <h1>Tools</h1>
  </div>


  <div class="three">
    <h1>How to use this website</h1>
  </div>


{% endblock %}