<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ligand:Protein Viewer</title>
  <script src="../static/scripts/ngl.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>
  <div>
  <script>
	var url;
	url="/pdbs/protein/{{ protein_fname }}";
  var stage;
  var drug;
  document.addEventListener("DOMContentLoaded", function () {
    var journal_color = NGL.ColormakerRegistry.addScheme(function (params) {
      this.atomColor = function (atom) {
        if (atom.serial < 6090) {
          return 0x00FFFF // cyan
        } else {
          return 0xFF00FF // magenta
        }
	}
      });
    stage = new NGL.Stage("viewport");
    stage.loadFile(url, {defaultRepresentation: true}).then(function(o){
      o.addRepresentation("cartoon", {colorScheme: journal_color});
      drug.autoView();
    });
    stage.loadFile( "/pdbs/ligand/{{ drug_fname }}", { asTrajectory: true}).then(function(o){
      o.addRepresentation("ball+stick", { multipleBond:"symmetric"});
      o.autoView();
      drug = stage.compList[0];
      var component = stage.compList[0];
      stage.compList[0].autoView();
      stage.viewer.container.addEventListener( "dblclick", function(){
        stage.toggleFullscreen();
      });
    });
  });
  </script>
  <div id="viewport" style="width:90vw; height:80vh;"></div>
  <script></script>
</div>
Download Files:
<br>
<a href="/pdbs/protein/{{ protein_fname }}"> {{ protein_name[:-4] }} </a>
<br>
<a href="/pdbs/ligand/{{ drug_fname }}"> {{ drug_fname.split("_")[1][:-4] }}</a>
</body>
</html>
