{% extends "layout.html" %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/mainpage.css"></style>
</head>

<div>
    <div class="main_title"> Please click on one of the following options</div>
        
    <div class="row">
        {% for (title, page_names, page_urls, length) in page_info %}
        <div class="block"">
        <div style="font-size:3vw">Scores for {{ title }}
            {% for count in range(length) %}
            <div style="font-size:2vw">
                <a href="{{ page_urls[count] }}">{{ page_names[count] }}</a>
            </div>
            {% endfor %}
        </div>
        </div>
        {% endfor %}
        <div class="block">
            <div style="font-size:3vw"> ZINC data coming soon</div>
           
        </div>
    </div>
   
</div>

<script>
    document.addEventListener("DOMContentLoaded",function do_stuff(){
        document.body.className = document.body.className.replace("background","override");
        console.log("hello")
    });
</script>

</body>
{% endblock %}