.left-div {
    float: left;
}

.right-div {
    float: right;
}

body.background {
    background-image:none;
}

body.override {
	background-image:url("../ACES1.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	background-position: center;
}

.main_title {
	font-size: 3vw;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	text-align:center;
	display: block;
}

.main_title > div {
	font-size: 2vw;
}

.hilbert {
	display: block;
	width: 50vw;
	height: auto;
	float: right;
	background-color: white;
}

.bar{
	height: 50vw;
	width: auto;
	float:left;
}

.grid2colslists {
	display: grid;
	grid-row: none;
	grid-template-columns: 1fr 1fr;
	overflow: auto;
	position: static;
	text-align:center;
}

.grid2colslists > div {
	padding: 0px;
}

.grid2cols {
	display: grid;
	grid-row: none;
	grid-template-columns: auto auto;
	overflow: auto;
	position: relative;
}

.grid2cols > div {
	padding: 0px;
	overflow: auto;
}

.grid3cols {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
	padding:0px;
}

.grid3cols > div:hover {
	border-style: solid;
	border-color: rgb(0, 0, 0);
}

.grid3cols > div {
		background-color: rgba(255,255,255);
		font-size: 0.8em;
		text-align: left;
}